.js-clock {
  color: white;
  font-size: 90px;
  animation: showClock 1s ease-out forwards;
}

@keyframes showClock {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.js-clock h1 {
  margin: 0;
  text-shadow: 4px 4px 8px rgba(49, 49, 49, 0.712);
}
