.js-toDoList {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.js-toDoList span {
  animation: showToDoList 1s ease-out forwards;
}

@keyframes showToDoList {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.js-toDoList button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 22px;
  right: 15px;
  opacity: 0.6;
  position: absolute;
  margin-top: 4px;
  z-index: 2;
  color: white;
  animation: showToDoList 1s ease-out forwards;
}
